<!DOCTYPE html>
<html ng-app="amalApp">
<head>
    <meta charset="utf-8">
    <base href="/amal-web/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <title ng-bind="title + ' - Eazy Cloud Code Research'">Default</title>

    <!-- Angularjs Core-->
    <script src="ckeditor\ckeditor.js"></script>
    <script src="angularjs/angularjs-core/angular.min.js"></script>
    <script src="angularjs/angularjs-core/angular-route.min.js"></script>
    <script src="angularjs/angularjs-core/angular-resource.min.js"></script>
    <script src="angularjs/angularjs-core/angular-cookies.min.js"></script>
    <script src="angularjs/angularjs-core/ui-bootstrap-tpls-2.5.0.min.js"></script>
    <script src="angularjs/angularjs-core/angular-sanitize.min.js"></script>

    <script>var itv = 'http://localhost/api-amal-share/api/';</script>

    <!-- Angularjs App-->
    <script src="angularjs/angularjs-app/angular-amal-app.js"></script>
    <script src="angularjs/angularjs-app/angular-admin-amal-app.js"></script>

    <!-- Angularjs Controller-->
    <script src="angularjs/angularjs-controller/admin-controller.js"></script>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link ng-if="currentPath === '/'
                || currentPath === '/masjid'
                || currentPath === '/mushola'
                || currentPath === '/yayasan'
                || currentPath === '/tentang'
                || currentPath === '/kontak'"
                href="bootstrap/css/bootstrap-costumize.css" rel="stylesheet">

    <!-- Bootstrap Admin-->
    <link ng-if="currentPath === '/admin-artikel'
                || currentPath === '/admin-pengaturan'
                || currentPath === '/admin-admin1'
                || currentPath === '/admin-admin2'
                || currentPath === '/admin-user'
                || currentPath === '/admin-dataTempat'
                || currentPath === '/admin-dataArtikel'"
                href="bootstrap/css/admin.css" rel="stylesheet">

    <link ng-if="currentPath === '/admin-artikel'
                || currentPath === '/admin-pengaturan'
                || currentPath === '/admin-admin1'
                || currentPath === '/admin-admin2'
                || currentPath === '/admin-user'
                || currentPath === '/admin-dataTempat'
                || currentPath === '/admin-dataArtikel'"
                href="bootstrap/css/bootstrap-costumize-admin.css" rel="stylesheet">

    <!-- Bootstrap Guest-->


</head>


<body>

<!-- nav untuk page Guest -->
<nav ng-if="currentPath === '/'
            || currentPath === '/masjid'
            || currentPath === '/mushola'
            || currentPath === '/yayasan'
            || currentPath === '/tentang'
            || currentPath === '/kontak'"

     class="navbar navbar-default navbar-fixed-top" style="font-weight: bold;" ng-controller="NavClass">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/" style="padding-top: 0px">
                <img src="images/logo.png" style="width: 140px;">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:isActive('/')}"><a href="#/"><i class="glyphicon glyphicon-home"></i> Beranda</a></li>
                <li ng-class="{active:isActive('/masjid')}"><a href="masjid"><i class="glyphicon glyphicon-th-list"></i> Masjid</a></li>
                <li ng-class="{active:isActive('/musholah')}"><a href="musholah"><i class="glyphicon glyphicon-th-list"></i> Musholah</a></li>
                <li ng-class="{active:isActive('/yayasan')}"><a href="yayasan"><i class="glyphicon glyphicon-th-list"></i> Yayasan</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active:isActive('/tentang')}"><a href="tentang"><i class="glyphicon glyphicon-bullhorn"></i> Tentang Kami</a></li>
                <li ng-class="{active:isActive('/kontak')}"><a href="kontak"><i class="glyphicon glyphicon-map-marker"></i> Kontak</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user"></i> Akun <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="redirUrl('admin-login')" href="">Login</a></li>
                        <li role="separator" class="divider"></li>
                        <!--<li class="dropdown-header">Nav header</li>-->
                        <li><a ng-click="redirUrl('admin-register')" href="">Register</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- nav untuk page Admin user -->
<nav ng-if="currentPath === '/admin-artikel'
            || currentPath === '/admin-pengaturan'
            || currentPath === '/admin-admin1'
            || currentPath === '/detailArtikel1'"

     class="navbar navbar-default navbar-fixed-top" style="font-weight: bold;background:#2ABB9B;border-bottom-color:#2ABB9B;">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="padding-top: 0px">
                <img src="images/logo.png" style="width: 140px;">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:isActive('/')}"><a href="#"><i class="glyphicon glyphicon-home"></i> Beranda</a></li>
                <li ng-class="{active:isActive('admin-artikel')}"><a href="admin-artikel"><i class="glyphicon glyphicon-duplicate"></i> Artikel</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user" style="margin-right:5px;"></i>User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li g-class="{active:isActive('admin-pengaturan')}"><a href="admin-pengaturan"><i class="glyphicon glyphicon-cog" style="margin-right:5px;"></i>Pengaturan</a></li>
                        <!-- <li><a href="#">Data User</a></li>
                        <li><a href="#">Something else here</a></li> -->
                        <li role="separator" class="divider"></li>
                        <!-- <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li> -->
                        <li><a href="#"><i class="glyphicon glyphicon-log-out" style="margin-right:5px;"></i>Keluar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- nav untuk page Admin Super -->
<nav ng-if="currentPath === '/admin-admin2'
            || currentPath === '/admin-user'
            || currentPath === '/admin-dataTempat'
            || currentPath === '/admin-dataArtikel'"

     class="navbar navbar-default navbar-fixed-top" style="font-weight: bold;background:#4183D7;border-bottom-color:#4183D7;">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" style="padding-top: 0px">
                <img src="images/logo.png" style="width: 140px;">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{active:isActive('/admin-admin2')}"><a href="admin-admin2"><i class="glyphicon glyphicon-home"></i> Beranda</a></li>
                <li ng-class="{active:isActive('/admin-user')}"><a href="admin-user"><i class="glyphicon glyphicon-duplicate"></i> User</a></li>
                <li ng-class="{active:isActive('/admin-dataArtikel')}"><a href="admin-dataArtikel"><i class="glyphicon glyphicon-duplicate"></i> Artikel</a></li>
                <li ng-class="{active:isActive('/admin-dataTempat')}"><a href="admin-dataTempat"><i class="glyphicon glyphicon-duplicate"></i> Artikel</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="glyphicon glyphicon-user" style="margin-right:5px;"></i>User <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li g-class="{active:isActive('admin-pengaturan')}"><a href="admin-pengaturan"><i class="glyphicon glyphicon-cog" style="margin-right:5px;"></i>Pengaturan</a></li>
                        <!-- <li><a href="#">Data User</a></li>
                        <li><a href="#">Something else here</a></li> -->
                        <li role="separator" class="divider"></li>
                        <!-- <li class="dropdown-header">Nav header</li>
                        <li><a href="#">Separated link</a></li> -->
                        <li><a href="#"><i class="glyphicon glyphicon-log-out" style="margin-right:5px;"></i>Keluar</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div style="margin-top: 70px" ng-view></div>

<footer ng-if="currentPath === '/admin-artikel'
            || currentPath === '/admin-pengaturan'
            || currentPath === '/admin-admin1'"

            class="footer"
            style="background:#2ABB9B;border-bottom-color:#2ABB9B;padding:25px;margin-top:35px;">
  <div class="container">
    <p class="text-muted" style="color:#fff;text-align:center;">&copy; 2017 Indo Amal. All Rights Reserved.</p>
  </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="bootstrap/jquery1.12.4/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
