<section style="background:#efefe9; margin-top:-70px; padding-top:50px;padding-bottom:50px;">
  <div class="container">
    <div class="row">
      <div class="board">
        <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
        <div class="board-inner">
          <ul class="nav nav-tabs" id="myTab">
            <li class="active">
              <a data-target="#formArtile" data-toggle="tab" title="welcome"><span class="round-tabs one"><i class="glyphicon glyphicon-plus"></i></span></a>
            </li>
            <li>
              <a data-target="#dataArticle" data-toggle="tab" title="profile"><span class="round-tabs two"><i class="glyphicon glyphicon-th-list"></i></span></a>
            </li>
          </ul>
        </div>

        <div class="tab-content" style="padding-bottom: 40px">
          <div class="tab-pane fade in active" id="formArtile">

            <h3 class="head text-center">Formulir Registrasi Masjid | Musolah | Yayasan</h3>
            <!-- <h3 class="head text-center">Formulir Registrasi Masjid | Musolah | Yayasan<sup>™</sup> <span style="color:#f48260;">♥</span></h3> -->
            <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data" name="articleForm">
                <div class="col-md-7">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="title_article" class="col-xs-2 control-label" style="text-align:left">Nama</label>
                      <label for="image_article" class="col-xs-1 control-label" style="text-align:center">:</label>
                      <div class="col-md-9">
                        <input id="title_article" type="text" class="form-control" name="title_article" required="required" placeholder="Nama Masjid / Musolah / Yayasan">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="jenis_article" class="col-xs-2 control-label" style="text-align:left">Jenis</label>
                      <label for="image_article" class="col-xs-1 control-label" style="text-align:center">:</label>

                      <div class="col-md-9">
                        <select class="form-control" id="jenis_article" name="jenis_article" required="required">
                          <option>-- Pilih --</option>
                          <option>Masjid</option>
                          <option>Mushola</option>
                          <option>Yayasan</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="alamat_article" class="col-xs-2 control-label" style="text-align:left">Alamat</label>
                      <label for="image_article" class="col-xs-1 control-label" style="text-align:center">:</label>
                      <div class="col-md-9">
                          <input class="form-control" name="alamat_article" required placeholder="Nama jalan dan alamat lengkap" required="required">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="provinsi_article" class="col-xs-2 control-label" style="text-align:left">Provinsi</label>
                      <label for="image_article" class="col-xs-1 control-label" style="text-align:center">:</label>
                      <div class="col-md-9">
                        <select class="form-control" id="provinsi_article" name="provinsi_article" ng-change="getKota()" ng-model="provinsi_article" required="required">
                          <option value="0" ng-selected="true">-- Pilih Provinsi --</option>
                          <option ng:repeat="pro in provinsi" value="{{pro.id}}">{{pro.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="kota_article" class="col-xs-2 control-label" style="text-align:left">Kota</label>
                      <label for="image_article" class="col-xs-1 control-label" style="text-align:center">:</label>
                      <div class="col-md-9">
                        <select ng-disabled="prv == false" class="form-control" id="kota_article" name="kota_article" ng-change="getKecamatan()" ng-model="kota_article" required="required">
                          <option value="0" ng-selected="true">-- Pilih Kota --</option>
                          <option ng:repeat="kot in kota" value="{{kot.id}}">{{kot.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="kecamatan_article" class="col-xs-2 control-label" style="text-align:left">Kecamatan</label>
                      <label for="image_article" class="col-xs-1 control-label" style="text-align:center">:</label>
                      <div class="col-md-9">
                        <select ng-disabled="prv == false || kta == false" class="form-control" id="kecamatan_article" name="kecamatan_article" ng-change="getKelurahan()" ng-model="kecamatan_article" required="required">
                          <option value="0" ng-selected="true">-- Pilih Kecamatan --</option>
                          <option ng:repeat="kec in kecamatan" value="{{kec.id}}">{{kec.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="kelurahan_article" class="col-xs-2 control-label" style="text-align:left">Kelurahan</label>
                      <label for="image_article" class="col-xs-1 control-label" style="text-align:center">:</label>
                      <div class="col-md-9">
                        <select ng-disabled="prv == false || kta == false || kca == false" class="form-control" id="kelurahan_article" name="kelurahan_article" ng-model="kelurahan_article" required="required">
                          <option value="0" ng-selected="true">-- Pilih Kelurahan --</option>
                          <option ng:repeat="kel in kelurahan" value="{{kel.id}}">{{kel.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="isi_article" class="col-xs-2 control-label" style="text-align:left">Keterangan</label>
                      <label for="image_article" class="col-xs-1 control-label" style="text-align:center">:</label>

                      <div class="col-md-9">
                        <textarea class="form-control" name="isi_article" ng-model="isi_article" rows="4" cols="50" placeholder="Keterangan tambahan"></textarea>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="rekening_article" class="col-xs-2 control-label" style="text-align:left">No. Rekening</label>
                      <label for="image_article" class="col-xs-1 control-label" style="text-align:center">:</label>

                      <div class="col-xs-9">
                        <select class="form-control" id="rekening_article" name="rekening_article" ng-model="rekening_article" required="required">
                          <option>-- Pilih --</option>
                          <option>BCA a/n Juri Susanto</option>
                          <option>BNI a/n Mamod Pebrianto</option>
                          <option>BJB a/n Riki Pahlevi</option>
                        </select>
                      </div>
                      <!-- <div class="col-xs-2">
                        <label class="checkbox-inline">
                          <input type="checkbox" id="inlineCheckbox1" value="option1"> Gunakan Rekening yang sama
                        </label>
                      </div> -->
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="image_article" class="col-xs-2 control-label" style="text-align:left">Foto</label>
                      <label for="image_article" class="col-xs-1 control-label" style="text-align:center">:</label>

                      <div class="col-xs-8">
                        <!-- <img src="http://placehold.it/300x300" id="showimages" style="margin-bottom:5px; max-height:100px;" />

                        <input id="image_change" type="file" class="" name="image_article"> -->

                        <!-- <label for="FileInput">
                          <img src="images/add-product.png" style="cursor:pointer;float:right;border:1px dashed #9c9c9c; padding:5px;" />
                        </label>

                        <input type="file" id="FileInput" style="cursor: pointer; display: none"/>
                        <input type="submit" id="Up" style="display: none;" /> -->

                        
                      </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-8 col-md-offset-5">
                  <button ng-disabled="articleForm.$invalid" ng-click="articleSubmit()" class="btn btn-success btn-outline-rounded green"> Simpan
                    <span style="margin-left:10px;" class="glyphicon glyphicon-plus"></span>
                  </button>

                  <button type="reset" href="" class="btn btn-warning btn-outline-rounded orange"> Reset
                    <span style="margin-left:10px;" class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </form>
          </div>

          <div class="tab-pane fade" id="dataArticle">
            <h3 class="head text-center">Data Terdaftar</h3>
            <table class="table table-striped" style="height: 500px">
              <thead>
                <th style="text-align:center;">No.</th>
                <th style="text-align:center;">Judul</th>
                <th style="text-align:center;">Jenis</th>
                <th style="text-align:center;">Status</th>
                <th style="text-align:center;">Aksi</th>
              </thead>

              <tbody>
                <td style="text-align:center;">1</td>
                <td style="text-align:center;">masjid itu</td>
                <td style="text-align:center;">Masjid</td>
                <td style="text-align:center;">ditampilkan</td>
                <td style="text-align:center;">
                  <a href="#"><i class="glyphicon glyphicon-eye-open" style="margin-right:5px;"></i>Lihat</a>
                  |
                  <a href="#"><i class="glyphicon glyphicon-edit" style="margin-right:5px;"></i>Ubah</a>
                  |
                  <a href="#"><i class="glyphicon glyphicon-remove" style="margin-right:5px;"></i>Hapus</a>
                </td>
              </tbody>
            </table>
          </div>

          <div class="clearfix"></div>
        </div>

      </div>
    </div>
  </div>
</section>


<!-- <div class="table table-striped" class="files" id="previews">

</div> -->
